#include <iostream>

using namespace std;


int i;
int* createArray (int num)
{
    int* arr = new int[num];
    return arr;
}

void initArray (int* arr, int num)
{
    cout << "Enter array values: ";
    for (i = 0; i < num; i++)
    {
        cin >> arr[i];
    }
}

void printArray (int* arr, int num)
{
    cout << "Array values: " << '\n';
    for (i = 0; i < num; i++)
    {
        cout << arr[i] << '\n';
    }

}

void deleteArray(int* arr, int num)
{
    delete[] arr;
}

void insertEndArray(int* arr, int num)
{
    int number;
    cout << "Enter an element: ";
    cin >> number;
    arr[num] = number;
}

void insertArray(int* arr, int num)
{
    int item;
    int index;
    cout << "Enter an element: ";
    cin >> item;
    cout << "Enter an index: ";
    cin >> index;
     for(i = num; i > index;i--)
    {
    arr[i] = arr[i - 1];
    }
    
    arr[index] = item;
}

void deleteItemArray(int* arr, int num)
{
    int index;
    cout << "Enter an index: ";
    cin >> index;
    
    
    for (i = index; i < num - 1; i++)
    {
    arr[i] = arr[i + 1];
    }

}

int main()
{
    
    int number = 7;
    int* array = createArray(number + 2);
    initArray(array, number);
    printArray(array, number);
    insertEndArray(array, number);
    printArray(array, number + 1);
    insertArray(array, number + 1);
    printArray(array, number + 2);
    deleteItemArray(array, number + 2);
    printArray(array, number + 1);
    deleteArray(array, number + 1);
   return 0;
}
